* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {

    text-align: center;
    width: fit-content;
}

.input-section {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    background-color: cyan;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    transition: all linear 0.2s;
}

button:active {
    scale: 0.9;
}

button:hover {
    background-color: #16dada;
}

#inputColorField {
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid black;
}

p {
    text-align: center;

}