* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    transition: background-color 0.5s ease;
}

.container {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
}

.input-section {
    display: flex;
    gap: 10px;
    margin: 20px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 200px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: cyan;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active {
    scale: 0.9;
}

button:hover {
    background-color: #00a8a8;
    transform: scale(1.05);
}

p {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}